################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VideoPlayer/VideoPlayer/WinVideoPlayer/bin/Debug
