################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VideoPlayer/VideoPlayer/WinVideoPlayer/bin/Debug
/VideoPlayer/VideoPlayer/WinVideoPlayer/obj/Debug
/VideoPlayer/VideoPlayer/WinVideoPlayer/Properties
/VideoPlayer/.vs/VideoPlayer
/VideoPlayer/VideoPlayer/.vs/VideoPlayer/v16
